.sidenav {
    height: 100%; /* 100% full height*/
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding-top: 20px 30px 20px 32px;
    padding-left: 20px;
    padding: 15px;
    text-decoration: none;
    font-size: 23px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: Copperplate Gothic Light;
}

.sidenav a:hover {
    color:#e6ccff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#hero-image {
    transition: margin-left .5s;
    padding: 20px;
}

span {
    color: black;
}

body, html {
    height: 100%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("C:/Users/vaish/Documents/My Web Sites/PPS/crown-2526570_1920.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: cover;
    opacity: .8;
}

.hero-text {
    font-family:Verdana;
	top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #f2f2f2;
    text-align: center;
}

