.sidenav {
    height: 100%; /* 100% full height*/
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding-top: 20px 30px 20px 32px;
    padding-left: 20px;
    padding: 15px;
    text-decoration: none;
    font-size: 23px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: Copperplate Gothic Light;
}

.sidenav a:hover {
    color:#e6ccff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

span {
    color: black;
}

#hero-image {
     transition: margin-left .5s;
     padding: 20px;
}

body, html {
    height: 100%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("mask-875534_1920.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: cover;
    opacity: .7;
}

.hero-text {
    font-family:Verdana;
	top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #f2f2f2;
    text-align: center;
}

table {
	font-family: Verdana;
	border-collapse: collapse;
	width: 80%;
    height: 100%;
	text-align: center;
	margin-top: 30px;
}

table, th, td {
    border: 2px solid white;
}

th {
	font-size: 20px;
	text-align: center;
	padding: 8px;
    height: 20px;
}

tr {
	font-size: 15px;
	text-align: center;
	padding: 8px;
    height: 20px;
    color: #f2f2f2;
}

.main {
    font-family: Verdana;
    top: 90%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #f2f2f2;
    text-align: center;
}
